<section class="copy">
    <div class="container">
        <div class="copy__inner">
            <p class="copy__caption">
                ©Boss. All rights reserved.
            </p>
            <div class="copy__box">
                <a class="copy__link" href="#!">Privacy Policy</a>
                <a class="copy__link" href="#!">Refund policy</a>
                <a class="copy__link" href="#!">Terms of Service</a>
            </div>
        </div>
    </div>
</section>
</div>
<script src="./js/main.js"></script>