<div class="wrapper">
    <!--=include discount.html -->
    <header class="header">
        <div class="container">
            <div class="header__content">
                <a href="#!" class="header__logo logo">
                    <img class="logo__img" src="../img/logo.svg" alt="logo" loading="lazy">
                </a>
                <ul class="lang-switcher">
                    <li class="lang-switcher__item">
                        <a href="#!" class="lang-switcher__link lang-switcher__link-active">EN</a>/
                    </li>
                    <li class="lang-switcher__item">
                        <a href="#!" class="lang-switcher__link">UA</a>
                    </li>
                </ul>
                <menu class="header__menu menu">
                    <li class="menu__item">
                        <a href="#!"
                           class="menu__link"
                           data-text="CATALOG"
                           style="text-transform: uppercase">CATALOG</a>
                    </li>
                    <li class="menu__item">
                        <a href="#!" class="menu__link" data-text="COLLECTIONS" style="text-transform: uppercase">COLLECTIONS</a>
                    </li>
                    <li class="menu__item">
                        <a href="#!" class="menu__link" data-text="ABOUT" style="text-transform: uppercase">ABOUT</a>
                    </li>
                    <li class="menu__item">
                        <a href="#!"
                           class="menu__link"
                           data-text="BOOK AN APPOINTMENT"
                           style="text-transform: uppercase">BOOK AN APPOINTMENT</a>
                    </li>
                    <li class="menu__item">
                        <a href="#!"
                           class="menu__link"
                           data-text="CONTACT"
                           style="text-transform: uppercase">CONTACT</a>
                    </li>
                </menu>

                <ul class="utility-icons utility-icons__list">
                    <li class="utility-icons__item">
                        <a href="#!" class="utility-icons__link">
                            <svg width="24" height="24">
                                <use xlink:href="./img/sprite.svg#user"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="utility-icons__item">
                        <a href="#!" class="utility-icons__link">
                            <svg width="24" height="24">
                                <use xlink:href="./img/sprite.svg#favorite"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="utility-icons__item">
                        <button class="utility-icons__link" type="button">
                            <svg width="24" height="24">
                                <use xlink:href="./img/sprite.svg#shopping-bag"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>