<section class="new-collection">
    <div class="container">
        <div class="new-collection__wrapper">
            <div class="new-collection__content">
                <h2 class="new-collection__title title title--medium">
                    NEW COLLECTION
                </h2>
                <div class="new-collection__text">
                    <p class="new-collection__description">A new era begins. Co-designed with David, the BECKHAM x BOSS
                        collection
                        showcases elevated design in the form of timeless wardrobe staples and subtle statement
                        pieces.</p>
                    <p class="new-collection__description">The exclusive assortment features a wide range of
                        fashion-forward
                        separates that can easily be paired to create countless outfits—think T-shirts, polos, trousers,
                        blazers, jackets, coats, accessories, and more.</p>
                    <p class="new-collection__description">Explore the full selection today.</p>
                </div>
                <a href="#!" class="new-collection__link  btn btn--primary">View the collection</a>
            </div>

            <picture class="new-collection__img">
                <source srcset="img/new-collection/new-collection-1.avif" type="image/avif">
                <source srcset="img/new-collection/new-collection-1.webp" type="image/webp">
                <img src="/img/new-collection/new-collection-1.jpg" alt="the man">
            </picture>

            <div class="new-collection__box">
                <picture class="new-collection__box-img">
                    <source srcset="img/new-collection/new-collection-2.avif" type="image/avif">
                    <source srcset="img/new-collection/new-collection-2.webp" type="image/webp">
                    <img src="img/new-collection/new-collection-2.jpg" alt="the cool man">
                </picture>
                    <p class="new-collection__caption">
                        ELEVATE YOUR STYLE WITH DAVID BECKHAM
                    </p>
            </div>
        </div>
    </div>
</section>