<section class="our-blog">
    <div class="container">
        <div class="our-blog__inner">
            <div class="our-blog__text">
                <h2 class="our-blog__title title title--medium">
                    OUR BLOG
                </h2>
                <p class="our-blog__description">
                    Our blog shares insights about style, design, and modern living.
                    We inspire confidence and creativity through curated articles. Stay updated with the latest trends
                    and expert advice from our team. </p>
            </div>
            <div class="our-blog__box our-blog__box-bottom">
                <picture>
                    <source srcset="img/our-blog/our-blog-1.avif" type="image/avif">
                    <source srcset="img/our-blog/our-blog-1.webp" type="image/webp">
                    <img class="our-blog__img" src="img/our-blog/our-blog-1.jpg" alt="David Beckham" loading="lazy">
                </picture>
                <a class="our-blog__link" href="#!">
                    Top Trends in Modern Design You Need to Know
                </a>
                <p class="our-blog__date">
                    Monday, 20 May 2025
                </p>
            </div>
            <div class="our-blog__box our-blog__box-tight">
                <picture>
                    <source srcset="img/our-blog/our-blog-2.avif" type="image/avif">
                    <source srcset="img/our-blog/our-blog-2.webp" type="image/webp">
                    <img class="our-blog__img" src="img/our-blog/our-blog-2.jpg" alt="David Beckham" loading="lazy">
                </picture>
                <a class="our-blog__link" href="#!">
                    "How to Elevate Your Style with Timeless Pieces"
                </a>
                <p class="our-blog__date">
                    Tuesday, 16 April 2025
                </p>
                <a class="our-blog__btn btn btn--primary" href="#!">Show more</a>
            </div>
        </div>
    </div>
</section>