<section class="our-advantages">
  <div class="container">
    <div class="our-advantages__inner">
        <picture>
          <source srcset="img/our-advantages/our-advantages-1.avif" type="image/avif">
          <source srcset="img/our-advantages/our-advantages-1.webp" type="image/webp">
          <img class="our-advantages__img" src="img/our-advantages/our-advantages-1.jpg" alt="David Beckham" loading="lazy">
        </picture>
      <div class="our-advantages__content">
        <h2 class="our-advantages__title title title--medium-light">
          OUR ADVANTAGES
        </h2>
        <ul class="our-advantages__list">
          <li class="our-advantages__item">Timeless style</li>
          <li class="our-advantages__item">Elegant and comfortable</li>
          <li class="our-advantages__item">Premium quality</li>
          <li class="our-advantages__item">Versatile wear</li>
          <li class="our-advantages__item">Confidence-boosting</li>
          <li class="our-advantages__item">Modern attitude</li>
        </ul>
      </div>
    </div>
  </div>
</section>
