<div class="collections__content grid">
    <picture class="collections__items">
        <source srcset="img/collections/collections-1.avif" type="image/avif">
        <source srcset="img/collections/collections-1.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-1.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-2.avif" type="image/avif">
        <source srcset="img/collections/collections-2.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-2.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-3.avif" type="image/avif">
        <source srcset="img/collections/collections-3.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-3.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-4.avif" type="image/avif">
        <source srcset="img/collections/collections-4.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-4.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-5.avif" type="image/avif">
        <source srcset="img/collections/collections-5.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-5.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-6.avif" type="image/avif">
        <source srcset="img/collections/collections-6.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-6.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-7.avif" type="image/avif">
        <source srcset="img/collections/collections-7.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-7.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-8.avif" type="image/avif">
        <source srcset="img/collections/collections-8.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-8.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-9.avif" type="image/avif">
        <source srcset="img/collections/collections-9.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-9.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-10.avif" type="image/avif">
        <source srcset="img/collections/collections-10.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-10.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-11.avif" type="image/avif">
        <source srcset="img/collections/collections-11.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-11.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-12.avif" type="image/avif">
        <source srcset="img/collections/collections-12.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-12.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-13.avif" type="image/avif">
        <source srcset="img/collections/collections-13.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-13.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
    <picture class="collections__items">
        <source srcset="img/collections/collections-14.avif" type="image/avif">
        <source srcset="img/collections/collections-14.webp" type="image/webp">
        <img class="collections__img" src="img/collections/collections-14.jpg" alt="Alt text" loading="lazy">
        <button class="collections__btn">
            <svg class="collections__like" width="24" height="21">
                <use xlink:href="./img/sprite.svg#like"></use>
            </svg>
        </button>
    </picture>
</div>