<div class="pagination">
    <div class="container">
        <ul class="pagination__list">
            <li class="pagination__item pagination__item--prev pagination__item--disabled">
                <a class="pagination__link" href="#!">
                    <svg width="12" height="5">
                        <use xlink:href="./img/sprite.svg#arrow-left"></use>
                    </svg>
                </a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link pagination__link--active" href="#!">1</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#!">2</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#!">3</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#!">4</a>
            </li>
            <li class="pagination__item">
                <span class="pagination__item--decor" href="#!">...</span>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#!">19</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#!">20</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#!">21</a>
            </li>
            <li class="pagination__item pagination__item--next">
                <a class="pagination__link" href="#!">
                    <svg width="12" height="5">
                        <use xlink:href="./img/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>