@use "../base/vars";
@use "../base/mixins";

.footer {
  background-color: vars.$color-blue;
  color: vars.$color-light;
  font-size: 16px;
  &__nav--list {
    display: flex;
    justify-content: center;
    column-gap: 87px;
    padding: 55px 0 60px;
  }
  &__nav--item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid vars.$color-light-35;
  }
  &__nav--logo {
    margin-inline: -21px;
  }
  &__contact--list {
    display: flex;
    column-gap: 83px;
    padding: 50px 124px 50px 0;
    border-top: 1px solid vars.$color-light-gray;
  }
  &__contact--title {
    display: block;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  &__contact--title-right {
    padding-right: 14px;
  }
  &__contact--input {
    position: relative;
    width: 100%;
    padding: 1px 0 5px;
    border-bottom: 1px solid vars.$color-light-gray;
  }
  &__social--box {
    display: flex;
    column-gap: 5px;
  }
  &__contact--form {
    position: relative;
    width: 253px;
  }
  &__contact--address {
    text-wrap: nowrap;
  }
  &__contact__link {
    display: inline-block;
    &:not(:last-of-type) {
      padding-bottom: 5px;
    }
  }
  &__contact--btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 26px;
  }
  &__contact--icon__mail {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 10px;
  }
  &__contact--input,
  &__nav--link,
  &__contact__link {
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    @include mixins.hover {
      opacity: 0.5;
    }
    @include mixins.focus {
      outline: none;
      color: vars.$color-focus;
    }
  }
  &__social--link {
    display: flex;
    transition: color 0.4s ease-in-out;
    @include mixins.focus {
      outline: none;
      border: 1px solid vars.$color-focus;
    }
  }
}
