@use "../base/vars";
@use "../base/mixins";

.lang-switcher {
  display: inline-flex;
  user-select: none;

  &__link {
    position: relative;
    outline: none;

    &:not(.lang-switcher__link-active) {
      @include mixins.focus {
        color: vars.$color-focus;
        &:focus::after {
          transform: scaleX(1);
          transform-origin: 50% 50%;
        }
      }
    }

    &:not(.lang-switcher__link-active)::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: vars.$color-black;
      transform: scaleX(0);
      transform-origin: 50% 50%;
      transition: transform 0.3s ease-in-out;
    }

    @include mixins.hover {
      &:hover::after {
        transform: scaleX(1);
        transform-origin: 50% 50%;
      }
    }
  }

  &__link-active {
    @extend %opensans-700;
  }
}
