@use "../base/mixins";
@use "../base/vars";

.nav {
  &__list {
    display: flex;
    column-gap: 30px;
    text-transform: uppercase;
  }

  &__link {
    position: relative;

    @include mixins.focus {
      outline: none;
      color: vars.$color-focus;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: vars.$color-black;
      transform: scaleX(0);
      transform-origin: 50% 50%;
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: 50% 50%;
    }
  }
}
