@use "../base/vars";
@use "../base/mixins";

.reviews {
  overflow-x: clip;
  .pagination {
    padding: 60px;
  }
  .bread-crumbs {
    padding: 60px;
    &__list {
      justify-content: center;
    }
  }
  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__card {
    padding: 40px 50px;
    border: 1px solid vars.$color-black-40;
    display: flex;
    flex-direction: column;
  }
  &__card-date {
    display: flex;
    font-size: 14px;
    line-height: 140%;
    opacity: 0.4;
    align-items: center;
    margin-bottom: 16px;
  }
  &__card-day {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 14px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: vars.$color-black-40;
    }
  }
  &__card-month {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 14px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: vars.$color-black-40;
    }
  }
  &__card-rating {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 18px;
  }
  &__card-star {
    display: flex;
  }
  &__card-link {
    display: inline-flex;
    column-gap: 12px;
    margin-bottom: 24px;
    @include mixins.hover {
      .reviews__card-avatar {
        border-color: vars.$color-focus;
      }
      .reviews__card-name {
        color: vars.$color-focus;
      }
    }
  }
  &__card-avatar {
    border: 1px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out;
  }
  &__card-name {
    font-size: 24px;
    align-self: center;
    transition: color 0.3s ease-in-out;
  }
  &__card-imgs {
    display: flex;
    column-gap: 20px;
  }
  &__card-img {
    cursor: zoom-in;
    transition: transform 0.3s ease;
    max-width: 169px;

    &.zoomed {
      position: fixed;
      top: 50%;
      right: 50%;
      z-index: 10;
      transform: translate(-50%, -50%) scale(2);
      cursor: zoom-out;
    }
  }

  &__card-desc {
    opacity: 0.8;
    max-width: 902px;
    margin-bottom: 24px;
  }
  &__slider {
    overflow: hidden;
    width: calc(100vw - (100vw - 1500px) / 2);
    margin-bottom: 24px;
  }
  &__slide {
    perspective: 1500px;
    img {
      transition: transform 0.3s ease-in-out;
      transform-style: preserve-3d;
      @include mixins.hover {
        transform: rotateY(25deg);
      }
    }
  }
  &__rating {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 24px;
  }
  &__rating-stars {
    display: flex;
    margin-right: 10px;
  }
  &__rating-count {
    font-size: 16px;
    color: vars.$color-black-40;
    border-bottom: 1px solid vars.$color-black;
    transition: border-color 0.3s ease-in-out;
    @include mixins.hover {
      border-color: vars.$color-focus;
    }
  }
  &__link {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 24px 216px;
    border: 1px solid vars.$color-black;
    transition: color 0.3s ease-in-out;
    @include mixins.hover {
      color: vars.$color-focus;
    }
  }
  &__slider-nav {
    position: absolute;
    left: auto;
    right: 10px;
    display: flex;
    align-items: center;
  }
  &__slider-arrow {
    cursor: pointer;
  }
  &__arrow-next {
    margin-right: 15px;
  }
  &__arrow-prev {
    color: vars.$color-black;
  }
  &__slider-pagination {
    color: vars.$color-black-40;
    font-size: 18px;
  }
  .swiper-pagination-total {
    margin-left: 10px;
  }
  .swiper-pagination-current {
    color: vars.$color-black;
    margin-right: 10px;
  }
  .container-big {
    position: relative;
    margin-bottom: 60px;
  }
}
.reviews-top {
  margin-bottom: 60px;
  color: vars.$color-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    @extend %lora-400;
    font-size: 64px;
    line-height: 120%;
  }
  &__link {
    font-size: 24px;
    color: vars.$color-black-40;
    border-bottom: 1px solid vars.$color-black;
    transition: border-color 0.3s ease-in-out;
    @include mixins.hover {
      border-color: vars.$color-focus;
    }
  }
}
