@use "../base/vars";
@use "../base/mixins";

.utility-icons {
  &__list {
    display: flex;
    column-gap: 20px;
  }

  &__item {
    display: flex;
    justify-content: center;
  }
  &__link {
    position: relative;
    transition: background-color 0.3s ease-in-out;
    outline: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: vars.$color-black;
      transform: scaleX(0);
      transform-origin: 50% 50%;
      transition: transform 0.3s ease-in-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: 50% 50%;
    }

    @include mixins.focus {
      &:focus::after {
        transform: scaleX(1);
        transform-origin: 50% 50%;
      }
    }
  }
}
