
<div class="blogs__card">
    <picture>
        <source srcset="img/blogs/blog-2.avif" type="image/avif">
        <source srcset="img/blogs/blog-2.webp" type="image/webp">
        <img class="blogs__card-img" src="img/blogs/blog-2.png" alt="Alt text" loading="lazy">
    </picture>
    <a class="blogs__card-category" href="#!">
        Modern
    </a>
    <a class="blogs__card-title" href="#!">
        The Art of Modern Tailoring: David Beckham&#39;s Touch on BOSS
    </a>
    <p class="blogs__card-date">
        1 day ago
     </p>
</div>

<div class="blogs__card">
    <picture>
        <source srcset="img/blogs/blog-3.avif" type="image/avif">
        <source srcset="img/blogs/blog-3.webp" type="image/webp">
        <img class="blogs__card-img" src="img/blogs/blog-3.png" alt="Alt text" loading="lazy">
    </picture>
    <a class="blogs__card-category" href="#!">
        Collaboration
    </a>
    <a class="blogs__card-title" href="#!">
        Why BOSS x Beckham Is Redefining Men’s Fashion Staples
    </a>
    <p class="blogs__card-date">
        1 day ago
     </p>
</div>

<div class="blogs__card">
    <picture>
        <source srcset="img/blogs/blog-4.avif" type="image/avif">
        <source srcset="img/blogs/blog-4.webp" type="image/webp">
        <img class="blogs__card-img" src="img/blogs/blog-4.png" alt="Alt text" loading="lazy">
    </picture>
    <a class="blogs__card-category" href="#!">
        Fabrics
    </a>
    <a class="blogs__card-title" href="#!">
        Premium Fabrics, Effortless Style: A Closer Look at the Collection
    </a>
    <p class="blogs__card-date">
        2 days ago
     </p>
</div>

<div class="blogs__card">
    <picture>
        <source srcset="img/blogs/blog-5.avif" type="image/avif">
        <source srcset="img/blogs/blog-5.webp" type="image/webp">
        <img class="blogs__card-img" src="img/blogs/blog-5.png" alt="Alt text" loading="lazy">
    </picture>
    <a class="blogs__card-category" href="#!">
        Menswear
    </a>
    <a class="blogs__card-title" href="#!">
        How David Beckham Brings New Energy to Classic Menswear
    </a>
    <p class="blogs__card-date">
        1 day ago
     </p>
</div>

<div class="blogs__card">
    <picture>
        <source srcset="img/blogs/blog-6.avif" type="image/avif">
        <source srcset="img/blogs/blog-6.webp" type="image/webp">
        <img class="blogs__card-img" src="img/blogs/blog-6.png" alt="Alt text" loading="lazy">
    </picture>
    <a class="blogs__card-category" href="#!">
        Modern
    </a>
    <a class="blogs__card-title" href="#!">
        Redefining Modern Masculinity with BOSS and David Beckham
    </a>
    <p class="blogs__card-date">
        1 week ago
     </p>
</div>

<div class="blogs__card">
    <picture>
        <source srcset="img/blogs/blog-7.avif" type="image/avif">
        <source srcset="img/blogs/blog-7.webp" type="image/webp">
        <img class="blogs__card-img" src="img/blogs/blog-7.png" alt="Alt text" loading="lazy">
    </picture>
    <a class="blogs__card-category" href="#!">
        Menswear
    </a>
    <a class="blogs__card-title" href="#!">
        Smart, Sharp, Iconic: Key Pieces from BOSS x Beckham
    </a>
    <p class="blogs__card-date">
        1 day ago
     </p>
</div>

<div class="blogs__card">
    <picture>
        <source srcset="img/blogs/blog-8.avif" type="image/avif">
        <source srcset="img/blogs/blog-8.webp" type="image/webp">
        <img class="blogs__card-img" src="img/blogs/blog-8.png" alt="Alt text" loading="lazy">
    </picture>
    <a class="blogs__card-category" href="#!">
        Modern
    </a>
    <a class="blogs__card-title" href="#!">
        The Art of Modern Tailoring: David Beckham&#39;s Touch on BOSS
    </a>
    <p class="blogs__card-date">
        1 day ago
     </p>
</div>

<div class="blogs__card">
    <picture>
        <source srcset="img/blogs/blog-9.avif" type="image/avif">
        <source srcset="img/blogs/blog-9.webp" type="image/webp">
        <img class="blogs__card-img" src="img/blogs/blog-9.png" alt="Alt text" loading="lazy">
    </picture>
    <a class="blogs__card-category" href="#!">
        Menswear
    </a>
    <a class="blogs__card-title" href="#!">
        The Art of Modern Tailoring: David Beckham&#39;s Touch on BOSS
    </a>
    <p class="blogs__card-date">
        1 day ago
     </p>
</div>

