
<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-1.avif" type="image/avif">
        <source srcset="img/accessories/accessories-1.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-1.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">LEATHER TRAINERS</a>
    <p class="accessories__slide-price">€ 299,00</p>
</div>

<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-2.avif" type="image/avif">
        <source srcset="img/accessories/accessories-2.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-2.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">SLIM-FIT COAT IN CASHMERE</a>
    <p class="accessories__slide-price">€ 1.700,00</p>
</div>

<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-3.avif" type="image/avif">
        <source srcset="img/accessories/accessories-3.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-3.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">T-SHIRT IN SOFT LINEN</a>
    <p class="accessories__slide-price">€ 139,95</p>
</div>

<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-1.avif" type="image/avif">
        <source srcset="img/accessories/accessories-1.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-1.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">LEATHER TRAINERS</a>
    <p class="accessories__slide-price">€ 299,00</p>
</div>

<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-2.avif" type="image/avif">
        <source srcset="img/accessories/accessories-2.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-2.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">SLIM-FIT COAT IN CASHMERE</a>
    <p class="accessories__slide-price">€ 1.700,00</p>
</div>

<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-3.avif" type="image/avif">
        <source srcset="img/accessories/accessories-3.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-3.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">T-SHIRT IN SOFT LINEN</a>
    <p class="accessories__slide-price">€ 139,95</p>
</div>

<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-1.avif" type="image/avif">
        <source srcset="img/accessories/accessories-1.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-1.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">LEATHER TRAINERS</a>
    <p class="accessories__slide-price">€ 299,00</p>
</div>

<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-2.avif" type="image/avif">
        <source srcset="img/accessories/accessories-2.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-2.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">SLIM-FIT COAT IN CASHMERE</a>
    <p class="accessories__slide-price">€ 1.700,00</p>
</div>

<div class="accessories__slide swiper-slide">
    <picture>
        <source srcset="img/accessories/accessories-3.avif" type="image/avif">
        <source srcset="img/accessories/accessories-3.webp" type="image/webp">
        <img class="accessories__slide-img" src="img/accessories/accessories-3.jpg" alt="Alt text" loading="lazy">
    </picture>
    <a class="accessories__slide-title" href="#!">T-SHIRT IN SOFT LINEN</a>
    <p class="accessories__slide-price">€ 139,95</p>
</div>

